.paragraph--home__section-7--one--text--top,
.paragraph--home__section-7--two--text--top {
    font-size       : 3.3rem;
    font-weight     : bold;
    font-family     : "Roboto-Black", sans-serif;
    color           : #fff;
    text-shadow     : 0 0 10px #000;
    letter-spacing  : -0.05rem;
    line-height     : 0.9;
    /* margin-bottom: 0.5rem; */
}

.paragraph--home__section-7--one--text--bottom,
.paragraph--home__section-7--two--text--bottom {
    font-size  : 1.1rem;
    font-weight: 500;
    color      : #fff;
    text-shadow: 0 0 10px #000;
}

.paragraph--home__section-8--text--top {
    font-size     : 5.2rem;
    font-weight   : bold;
    font-family   : "Roboto-Black", sans-serif;
    color         : #fff;
    text-shadow   : 0 0 10px rgba(0, 0, 0, 0.281);
    letter-spacing: 0.9rem;
}


.paragraph--home__section-8--text--bottom {
    font-size  : 1.1rem;
    font-weight: 500;
    color      : #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

.paragraph--home__services--title {
    font-size     : 1.3rem;
    font-weight   : bold;
    color         : #000;
    text-align    : center;
    font-family   : "Roboto-Black", sans-serif;
    letter-spacing: 0.05rem;
}

.paragraph--home__services--paragraph {
    padding       : 0 1.9rem;
    font-weight   : 500;
    letter-spacing: 0.05rem;
}

.paragraph--home__payment-methods--title {
    color      : #fff;
    line-height: 1.2;
    font-size  : 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.paragraph--home__payment-methods--title:hover {
    color: #000;
}

.paragraph--home__text--title--one {
    color      : #fff;
    font-family: "Poppins", sans-serif;
    line-height: 0.9;
}

.paragraph--home__text--title--two {
    color          : #fff;
    font-family    : "Poppins", sans-serif;
    font-weight    : 700;
    font-size      : 1.4rem;
    text-decoration: underline;
}

/* responsive mobile */
@media (max-width: 1025px) {
    .paragraph--home__section-8--text--top {
        font-size     : 1.3rem;
        letter-spacing: 0.3rem;
    }

    .paragraph--home__section-8--text--bottom {
        font-size: 0.9rem;
        padding  : 0 1rem;
    }
}