.imageElement--home__slider--banner {
  max-height: initial !important;
}

/* .slideChildrenContainer--home__slider--banner {
    max-height: initial !important;
} */

.sliderLeftArrow--home__slider--banner,
.sliderRightArrow--home__slider--banner {
  width        : 24px !important;
  height       : 24px !important;
  padding      : 4px !important;
  cursor       : pointer !important;
  color        : #000 !important;
  border-radius: 50% !important;
  outline      : 0 !important;
  background   : #fff !important;
}

.sliderLeftArrow--home__slider--banner {
  left: 10px !important;
}

.sliderRightArrow--home__slider--banner {
  right: 10px !important;
}

.paginationDotsContainer--home__slider--banner,
.paginationDotsContainer--mobile__home--slider--banner {
  transform: translateY(20px);
}

.paginationDot--isActive {
  background: #fb441f !important;
}

.sliderLeftArrow--home__slider--banner:hover,
.sliderRightArrow--home__slider--banner:hover {
  opacity: 0.8;
}
