.link--home__product-list--section--button {
    background-color: #fb441f;
    color           : #fff;
    text-decoration : none;
    width           : 90%;
    height          : 35px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    margin          : 0 auto 5px;
    transition      : all 0.18s ease-in-out;
}

.link--home__product-list--section--button:hover {
    background-color: #000000;
    color           : #fff;
}

.link--home__section-7--one--button,
.link--home__section-7--two--button {
    font-size       : 1.1rem;
    font-weight     : 600;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: #fff;
    color           : #000;
    width           : 12.5rem;
    height          : 3rem;
    text-decoration : none;
    text-transform  : uppercase;
    letter-spacing  : 0.05rem;
    transition      : all 0.18s ease-in-out;
    border          : 2px solid #fff;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.336);
}

.link--home__section-8--button--buy {
    padding         : 0.5rem 1rem;
    background-color: #fff;
    width           : 220px !important;
    padding         : 1em 1em;
    display         : flex;
    justify-content : center;
    align-items     : center;
    text-decoration : none;
    margin          : 0 12px;
    color           : #000;
    font-weight     : 600;
    transition      : all 0.18s ease-in-out;
}

@media (max-width: 1025px) {
    .link--home__section-8--button--buy {
        width    : 140px !important;
        font-size: 12px;
        margin   : 0 2px;
    }
}

.link--home__section-8--button--buy:hover {
    background-color: #000;
    color           : #fff;
}

.link--home__section-7--one--button:hover,
.link--home__section-7--two--button:hover {
    background-color: #000;
    color           : #fff;
    border          : 2px solid #fff;
}

.childrenContainer--home__services--container {
    display        : flex;
    justify-content: flex-start;
    flex-direction : column;
    align-items    : center;
    padding        : 10px;
    transition     : all 0.25s ease-in-out;
    border-radius  : 0.4rem;
    text-decoration: none;
}

.childrenContainer--home__services--container:hover {
    background-color   : #e0e0e0;
    /* box-shadow      : 0 0 10px rgba(0, 0, 0, 0.336); */
}

.link--home__services--container {
    text-decoration: none;
}

.link--home__payment-methods--container {
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 0.4rem;
    flex-flow      : wrap;
    text-align     : center;
    text-decoration: none;
    padding        : 5px;
    transition     : all 0.25s ease-in-out;
}

.link--home__payment-methods--container:hover {
    background-color: #e0e0e0;
}

.childrenContainer--home__payment-methods--container {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
}