.imageElement--home__slider--banner {
  max-height: initial !important;
}

/* .slideChildrenContainer--home__slider--banner {
    max-height: initial !important;
} */

.sliderArrows {
  width        : 24px !important;
  height       : 24px !important;
  padding      : 4px !important;
  cursor       : pointer !important;
  color        : #000 !important;
  border-radius: 50% !important;
  outline      : 0 !important;
  background   : #fff !important;
}

.sliderArrows--search-result-list--products {
  background: #000 !important;
  color     : #fff !important;
}

.sliderArrows--search-result-list--products:hover {
  background: #fb441f !important;
  color     : #fff !important;
}


.sliderLeftArrow--home__slider--banner {
  left: 10px !important;
}

.sliderRightArrow--home__slider--banner {
  right: 10px !important;
}

.sliderLeftArrow--home__slider--banner:hover,
.sliderRightArrow--home__slider--banner:hover {
  opacity: 0.8;
}