.flexRowContent--home__slider--section-2 {
    max-width: 1200px;
    margin: 0 auto 10px;
}

.flexRowContent--mobile__home--slider {
    margin: 0 auto;
}

.flexColChild--mobile__home--banner--sale--one,
.flexColChild--mobile__home--banner--sale--two,
.flexColChild--mobile__home--banner--sale--three {
    margin-bottom: 1rem;
}

.flexRow--home__product-list--section {
    max-width: 1200px;
    margin: 0 auto;
}

.flexColChild--home__product-list--section {
    margin: 0 6px;
}

.flexRow--home__section-7 {
    max-width: 1440px;
    margin: 0 auto;
}

.flexColChild--home__section-7--one--left,
.flexColChild--home__section-7--one--right {
    margin: 0 6px;
}

.flexCol--home__section-7--one--left,
.flexCol--home__section-7--one--right {
    position: relative;
}

.flexCol--home__section-7--one--button,
.flexCol--home__section-7--two--button {
    position: absolute;
    top: 72%;
    left: 50%;
    height: 20%;
    width: 80%;
    margin: -14% 0 0 -41%;
}

/* .flexRowContent--home__sale--section {
    max-width: 300px;
    margin: 0 auto 10px;
} */
