.flexRowContent--home__slider--section-2 {
    max-width: 1200px;
    margin   : 0 auto 10px;
}

.flexRowContent--mobile__home--slider {
    margin: 0 auto;
}

.flexColChild--mobile__home--banner--sale--one,
.flexColChild--mobile__home--banner--sale--two,
.flexColChild--mobile__home--banner--sale--three {
    margin-bottom: 1rem;
}

.flexRow--home__product-list--section {
    max-width: 1200px;
    margin   : 0 auto;
}

.flexColChild--home__product-list--section {
    margin: 0 6px;
}

.flexRow--home__section-7,
.flexColChild--home__section-8--image,
.flexRow--home__section-banner-products {
    max-width: 1440px;
    margin   : 0 auto;
}


.flexRowContent--home__section-banner-products--sale--8 {
    position: relative;
}

.flexCol--home__section-8--buttons {
    position       : absolute;
    top            : 50%;
    left           : 50%;
    transform      : translate(-50%, -50%);
    /* width       : 720px;
    height         : 280px; */
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flexRow--home__section-8--buttons--container {
    margin-top: 10px;
}

.flexColChild--home__section-8--image {
    padding: 0 10px;
}

.flexColChild--home__section-7--one--left,
.flexColChild--home__section-7--one--right {
    margin: 0 6px;
}

.flexCol--home__section-7--one--left,
.flexCol--home__section-7--one--right {
    position: relative;
}

.flexCol--home__section-7--one--button,
.flexCol--home__section-7--two--button {
    position: absolute;
    top     : 72%;
    left    : 50%;
    height  : 20%;
    width   : 80%;
    margin  : -14% 0 0 -41%;
}

.flexRow--home__section-services--9 {
    background-color: #ececec;
    padding         : 1.5rem;
    margin-top      : 0.7rem;
}

.flexRowContent--home__payment-methods {
    display        : flex;
    justify-content: space-evenly;
    width          : 100%;
    flex-wrap      : wrap;
    padding        : 10px 0;
}

.flexRowContent--banner__image--one,
.flexRowContent--banner__image--two,
.flexRowContent--banner__image--three {
    overflow: hidden;
}