.imageElement--banner__image--one,
.imageElement--banner__image--two,
.imageElement--banner__image--three,
.imageElement--home__section-8--sale {
    max-height: initial !important;
    width     : 100% !important;
    transition: all 0.25s ease-in-out;
}

.imageElement--banner__image--one:hover,
.imageElement--banner__image--two:hover,
.imageElement--banner__image--three:hover {
    filter   : opacity(0.9);
    transform: scale(1.02);
}

.imageElement--home__product-list--section {
    padding-bottom: 10px;
}

.imageElement--home__section-7--one,
.imageElement--home__section-7--two {
    transition: all 0.25s ease-in-out;
}

.imageElement--home__section-7--one:hover,
.imageElement--home__section-7--two:hover {
    filter: brightness(0.6);
}

.imageElement--home__services--image {
    width: 80px;
}

.imageElement--home__payment-methods--image {
    width     : 60px;
    height    : 40px;
    margin    : 0 auto 10px;
    object-fit: contain;
}

.imageElement--icon-grid:hover,
.imageElement--icon-list:hover {
    filter: opacity(0.5);
}

.searchResultContainer--search__layout--desktop--container {
    max-width: 99% !important;
}

.imageElement--quickview__modal--button {
    margin-top: 0.7rem;
    filter    : opacity(0.5);
}

.imageElement--quickview__modal--button:hover{
    filter    : opacity(1);
}