.link--home__product-list--section--button {
    background-color: #fb441f;
    color: #fff;
    text-decoration: none;
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5px;
    transition: all 0.18s ease-in-out;
}

.link--home__product-list--section--button:hover {
    background-color: #000000;
    color: #fff;
}