.searchBarIcon--search-bar-mod--search {
    background-color: #FF5E00;
    padding: 0 1rem;
    margin-right: -1rem;
}



.logoLink--header__top--logo,
.logoImage--header__top--logo{
    padding-right: 2.2rem;

}