.paragraph--menu__item--man,
.paragraph--menu__item--woman,
.paragraph--menu__item--news {
  font-weight     : bold;
  margin          : 0 8px;
  /* cursor       : pointer; */
  background-color: #fb441f;
  color           : #ffffff;
  font-size       : 14px;
  border-radius   : 10px 10px 0 0;
  padding         : 5px 10px;
  transform       : translateY(6px);
  transition      : background-color 0.3s;
}

.paragraph--menu__item--man:hover,
.paragraph--menu__item--woman:hover,
.paragraph--menu__item--news:hover {
  background-color: #9b2e18;
}

.paragraph--minicart-default-empty-state--text {
  font-size    : 1.25rem;
  margin-bottom: 1rem;
}
