.flexCol--search__filter--container {
  background-color: #f7f7f7;
  padding         : 0 1rem;
}

.flexCol--search__by--department--col {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 100%;
  text-align     : center;
  padding        : 1rem 0;
  border-bottom  : 1px solid #E1E2E4;
}

.flexColChild--search__by--department--col {
  width: 100%;
}

.flexColChild--search__by--department--title {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100%;
  text-align      : center;
  background-color: #505050e6;
  padding         : 0.5rem 0.4rem;
  margin-bottom   : 1rem;
}
