.vtex-flex-layout-0-x-flexRow--home__slider--mobile--sale--container {
    position: relative !important;
}

.flexRow--home__slider--mobile--buttons--container{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    /* width: 720px;
    height: 280px; */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}