.flexColChild--home__section--8--mobile--image {
    margin: 0 auto;
}

.flexRowContent--home__section--7--mobile,
.flexRowContent--mobile__home--banner--sale {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.flexCol--home__section--8--mobile--image {
    position: relative;
    width   : 100%;
}

.flexCol--home__section--8--mobile--buttons,
.flexCol--home__section--7--mobile--buttons--container--one,
.flexCol--home__section--7--mobile--buttons--container--two {
    position       : absolute;
    top            : 50%;
    left           : 50%;
    transform      : translate(-50%, -50%);
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    width          : 90%;
}

.vtex-flex-layout-0-x-flexRow--home__slider--mobile--sale--container,
.flexCol--home__section--7--mobile--col--1,
.flexCol--home__section--7--mobile--col--2 {
    position: relative !important;
}

.flexColChild--home__section--8--mobile--image {
    width: 100%;
}

.flexColChild--home__section--7--mobile--col--1,
.flexColChild--home__section--7--mobile--col--2 {
    margin: 0 auto 10px;
}

.flexRowContent--home__section--9--mobile--slider {
    background-color: rgb(236, 236, 236);
    /* padding         : 1.5rem; */
}

/* responsive tablet */
@media (max-width: 1025px) {
    .flexRowContent--home__slider--section-2 {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        padding        : 0 26px;
    }
}

/* responsive phone */
@media (max-width: 480px) {

    .flexRowContent--home__section--7--mobile {
        padding: 0 14px;
    }
}

/* .flexRow--home__slider--mobile--buttons--container {
    position       : absolute !important;
    bottom         : 50% !important;
    left           : 50% !important;
    transform      : translate(-50%, -50%) !important;
    width          : 720px;
    height         : 280px;
    display        : flex !important;
    justify-content: center !important;
    align-items    : center !important;
    z-index        : 9999;
} */